<footer class="p-10 bg-gray-100 text-space border-t border-gray-300 shadow">
    <div class="grid grid-cols-2 gap-10 lg:grid-cols-4 place-items-center">
        <div class="logo col-span-2 lg:col-span-1 mx-auto">
            <div class="logo font-black text-3xl text-blue-500"><a href="/home">Doc Plants</a></div>
        </div>
        <div class="text-sm md:text-normal lg:text-md">
            <p class="font-black mb-3">Stay Connected</p>
            <div class="flex flex-col gap-1">
                <a href="#" class="text-orange-500 underline">Conact us</a>
                <a href="#" class="text-orange-500 underline">Social Links</a>
            </div>
        </div>
        <div class="text-sm md:text-normal lg:text-md">
            <p class="font-black mb-3">Also Visit</p>
            <div class="flex flex-col gap-1">
                <a href="#" class="text-orange-500 underline">Home</a>
                <a href="#" class="text-orange-500 underline">About</a>
                <a href="/about-us/#our-story" class="text-orange-500 underline">Our Story</a>
                <a href="#" class="text-orange-500 underline">Membership Programe</a>
            </div>
        </div>
        <div class="col-span-2 lg:col-span-1">
            <p class="font-black mb-3 text-center">Reach Out to us</p>
            <address class="text-center">
                12-09-89,
                Arandalpet 8th Lane near Opposite SBI bank Guntur,Ap,India 
                Contact : 779-936-36340 
                <a href="mailto:designurdesire@gmail.com">Designurdesire@gmail.com</a>
            </address>
        </div>
    </div>
</footer>