<div class="home text-space  bg-gray-50">
    <div class="relative" id="head">
        <div
            class="h-screen before:absolute before:inset-0 before:bg-hero before:bg-center before:bg-no-repeat before:bg-cover before:brightness-[25%] before:saturate-50 before:hue-rotate-[180deg] flex items-end justify-start p-20">
            <div class="z-10 w-1/2">
                <q class="text-5xl mb-10 block text-gray-200">Transforming Education, Shaping FuturesTransforming
                    Education,
                    Shaping Futures</q>
                <p class="text-xl text-gray-100">At Doc Plants, we elevate individuals through cutting-edge
                    education and comprehensive skill-building programs, fostering brighter careers and a prosperous
                    future.
                </p>
            </div>
        </div>
    </div>
    <section class="px-10 p-20">
        <p class="text-center text-3xl font-bold mb-10">Our Approach</p>
        <div class="flex flex-col items-center justify-center w-full">
            <p class="text-center text-xl w-3/4 mb-10">At Doc Plants, we believe that a holistic and personalized approach to
                education is key to fostering meaningful and lasting success. Our strategy encompasses innovative
                teaching methods, comprehensive support systems, and a commitment to inclusivity and accessibility.</p>
                <button class="bg-blue-500 text-white border border-blue-500 p-3 transition-all duration-200 ease-in hover:bg-white hover:text-blue-500">Learn More</button>
        </div>
    </section>
</div>