<div class="home text-space bg-gray-100">
    <div class="relative" id="head">
        <div
            class="h-screen before:absolute before:inset-0 before:bg-hero before:bg-center before:bg-no-repeat before:bg-cover before:brightness-[25%] before:saturate-50 before:hue-rotate-[180deg] flex items-end justify-start p-12 md:p-20">
            <div class="z-10 w-full md:w-3/4 lg:w-1/2">
                <q class="text-2xl md:text-5xl mb-3 md:mb-10 block text-gray-200">Transforming Education, Shaping
                    FuturesTransforming
                    Education,
                    Shaping Futures</q>
                <p class="text-xs md:text-xl text-gray-100">At Doc Plants, we elevate individuals through cutting-edge
                    education and comprehensive skill-building programs, fostering brighter careers and a prosperous
                    future.
                </p>
            </div>
        </div>
    </div>
    <section class="px-10 p-20">
        <p class="text-center text-xl md:text-3xl font-bold md:mb-10 mb-5">Our Approach</p>
        <div class="flex flex-col items-center justify-center w-full">
            <p class="text-center text-sm md:text-xl w-full md:w-3/4 mb-5 md:mb-10">At Doc Plants, we believe that a
                holistic and personalized
                approach to
                education is key to fostering meaningful and lasting success. Our strategy encompasses innovative
                teaching methods, comprehensive support systems, and a commitment to inclusivity and accessibility.</p>
            <button class="btn-outline-secondary transition-all duration-200 ease-in">Learn
                More</button>
        </div>
    </section>
    <section class="p-10">
        <p class="text-xl md:text-2xl font-bold mb-5 md:mb-10">Explore Our Stunning Membership Programme</p>
        <!-- Card 1 -->
        <div class="flex gap-3 mb-3 md:mb-0 md:gap-0 flex-col md:flex-row">
            <div
                class="card md:w-1/2 relative group after:absolute after:inset-0 after:z-10 after:bg-teacher after:bg-center after:bg-cover flex items-center justify-center h-auto md:h-96 grid-card-transition after:pointer-events-none after:brightness-[25%] after:saturate-50">
                <p
                    class="font-bold text-white text-sm p-5 md:p-0 md:text-xl lg:text-3xl relative z-20 group-hover:text-teal-500">
                    Innovative Teaching Methods
                </p>
            </div>
            <div
                class="card md:w-1/2 text-xs md:text-sm flex items-center justify-center p-5 md:p-10 lg:p-20 text-justify bg-gray-200 font-light grid-card-transition hover:text-white hover:bg-blue-500">
                We leverage the latest in educational technology and pedagogical research to create engaging and
                effective learning experiences. Our courses are designed to be interactive, practical, and relevant to
                the current job market, ensuring that our members gain not just theoretical knowledge but real-world
                skills.
            </div>
        </div>

        <!-- Card 2 -->
        <div class="flex gap-3 mb-3 md:mb-0 md:gap-0 md:flex-row-reverse flex-col ">
            <div
                class="card md:w-1/2 relative group after:absolute after:inset-0 after:z-10 after:bg-support after:bg-center after:bg-cover flex items-center justify-center h-auto md:h-96 grid-card-transition after:pointer-events-none after:brightness-[25%] after:saturate-50">
                <p
                    class="font-bold text-white text-sm p-5 md:p-0 md:text-xl lg:text-3xl relative z-20 group-hover:text-teal-500">
                    Comprehensive Support Systems
                </p>
            </div>
            <div
                class="card md:w-1/2 text-xs md:text-sm flex items-center justify-center p-5 md:p-10 lg:p-20 text-justify bg-gray-200 font-light grid-card-transition hover:text-white hover:bg-blue-500">
                We are dedicated to supporting our members at every stage of their educational journey. From
                personalized career counseling to extensive resources like resume-building workshops and job
                placement
                assistance, we provide the tools and guidance needed to navigate the complexities of career
                development.
            </div>

        </div>
        <!-- Card 3 -->
        <div class="flex gap-3 mb-3 md:mb-0 md:gap-0 flex-col md:flex-row">
            <div
                class="card md:w-1/2 relative group after:absolute after:inset-0 after:z-10 after:bg-inclusivity after:bg-center after:bg-cover flex items-center justify-center h-auto md:h-96 grid-card-transition after:pointer-events-none after:brightness-[25%] after:saturate-50">
                <p
                    class="font-bold text-white text-sm p-5 md:p-0 md:text-xl lg:text-3xl relative z-20 group-hover:text-teal-500">
                    Commitment to Inclusivity and Accessibility
                </p>
            </div>
            <div
                class="card md:w-1/2 text-xs md:text-sm flex items-center justify-center p-5 md:p-10 lg:p-20 text-justify bg-gray-200 font-light grid-card-transition hover:text-white hover:bg-blue-500">
                Education should be accessible to all, regardless of background or circumstance. We strive to create an
                inclusive environment where everyone feels valued and supported. Our programs are designed to
                accommodate diverse learning styles and needs, ensuring that every member has the opportunity to
                succeed.
            </div>
        </div>

        <!-- Card 4 -->
        <div class="flex gap-3 mb-3 md:mb-0 md:gap-0 md:flex-row-reverse flex-col">
            <div
                class="card md:w-1/2 relative group after:absolute after:inset-0 after:z-10 after:bg-community after:bg-center after:bg-cover flex items-center justify-center h-auto md:h-96 grid-card-transition after:pointer-events-none after:brightness-[25%] after:saturate-50">
                <p
                    class="font-bold text-white text-sm p-5 md:p-0 md:text-xl lg:text-3xl relative z-20 group-hover:text-teal-500">
                    Community Building
                </p>
            </div>
            <div
                class="card md:w-1/2 text-xs md:text-sm flex items-center justify-center p-5 md:p-10 lg:p-20 text-justify bg-gray-200 font-light grid-card-transition hover:text-white hover:bg-blue-500">
                We foster a strong sense of community among our members, encouraging networking and collaboration.
                Through our events, online platforms, and mentorship programs, members can connect with peers,
                industry
                professionals, and potential employers, building a network that supports their career growth.
            </div>

        </div>


        <!-- Card 5 -->
        <div class="flex gap-3 mb-3 md:mb-0 md:gap-0 flex-col md:flex-row">
            <div
                class="card md:w-1/2 relative group after:absolute after:inset-0 after:z-10 after:bg-improvement after:bg-center after:bg-cover flex items-center justify-center h-auto md:h-96 grid-card-transition after:pointer-events-none after:brightness-[25%] after:saturate-50">
                <p
                    class="font-bold text-white text-sm p-5 md:p-0 md:text-xl lg:text-3xl relative z-20 group-hover:text-teal-500">
                    Continuous Improvement
                </p>
            </div>
            <div
                class="card md:w-1/2 text-xs md:text-sm flex items-center justify-center p-5 md:p-10 lg:p-20 text-justify bg-gray-200 font-light grid-card-transition hover:text-white hover:bg-blue-500">
                We are committed to continuous improvement and regularly update our programs based on feedback from our
                members and the evolving demands of the job market. This ensures that our offerings remain relevant and
                effective, providing the best possible outcomes for our members.
            </div>
        </div>

    </section>
    <section class="h-screen py-20">
        <div class="flex flex-col items-center justify-center h-full p-10 md:p-20 bg-orange-500">
            <q
                class="md:w-full lg:w-3/4 text-center block text-sm md:text-xl lg:text-2xl font-extralight md:font-light lg:font-bold text-zinc-800 mb-10">Joining
                Doc Plant has been one of
                the best decisions of my professional life. The innovative
                teaching methods, comprehensive support systems, and commitment to inclusivity have provided me with
                invaluable skills and confidence. The community here is incredibly supportive, and the resources
                available
                are second to none. I've not only gained theoretical knowledge but also practical, real-world skills
                that
                have significantly boosted my career.</q>
            <p class="text-zinc-800 text-xs md:text-sm font-extralight md:font-light lg:font-bold"> <span class="font-extralight">-----</span> Students
                Of Doc Plant</p>
        </div>
    </section>
</div>